body{
  background-color: #1c1c1c;
}

.App{
  text-align: center;
  color: rgb(255, 255, 255);
  padding-top: 80px;
 
}
p{
  color: rgb(12, 65, 114);
}

input{
  outline: none;
  background-color: transparent;
  border: none;
  color: white;
  display: inline;
}

input:focus{
  border-bottom: 1px solid #fff;
}

input::placeholder{
  color: azure;
}

button{
  background-color: #00ff00;
  border-radius: 8px;
  color: #000;
  border: none;
}

h1{
  color: #00ff00;
}

.bord{
  margin: 0 auto;
  align-items: center;
  display: flex;
  border: 1px solid #fff;
  padding: 30px;
  gap: 20px;
  border-radius: 20px;
  background-color: white;
  width: 350px;
}

